body {
  margin: 0;
  padding: 0;
  background: #262626;
  font-family: arial;
}

.skewedBox {
  background: #edff57;
  padding: 100px 0;
  transform: skew(0deg, -10deg) translateY(-120px);
}

.container {
  padding: 150px 200px;
  transform: skew(0deg, 10deg);
}

.container h1 {
  margin: 0;padding: 20px 0;
  font-size: 3em;
}

.container p {
  font-size: 1em;
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  width: 80%;
}

.sec2 {
  padding: 0 200px 150px;
  color: #fff;
  font-family: arial;
  text-align: right;
}