body {
  margin: 0;
  padding: 0;
  background: #5245d8;
}

h1 {
  margin: 250px 0 0 400px;
  padding: 0;
  font-family: arial;
  color: #fff;
  font-size: 5em;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
}

span:before {
  content: "HTML";
  animation: animate infinite 8s;
}

@keyframes animate {
  0% {
    content: "HTML";
  }
  20% {
    content: "CSS";
  }
  40% {
    content: "jQuery";
  }
  60% {
    content: "Photoshop";
  }
  80% {
    content: "Bootstrap";
  }
}
