body {
  margin: 0;
  padding: 0;
  font-family: verdana;
  background: #ca0e62;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.letter {
  color: #fff;
  font-size: 6em;
  margin: 0;
  padding: 0;
  transition: 0.5s;
  transform: perspective(1000px) rotateX(35deg);
}

.letter .char1,
.letter .char2,
.letter .char3,
.letter .char4,
.letter .char5,
.letter .char6 {
  display: inline-block;
  padding: 0 10px;
  transition: 0.5s;
  text-shadow: 0 5px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 50px 20px rgba(0, 0, 0, 0.1);
  filter: blur(0.5px);
}

.letter .char1,
.letter .char3,
.letter .char5 {
  background: #ff54a1;
  transform: skewY(-15deg);
}

.letter .char2,
.letter .char4,
.letter .char6 {
  background: #d82475;
  transform: skewY(15deg);
}

.letter:hover .char1,
.letter:hover .char2,
.letter:hover .char3,
.letter:hover .char4,
.letter:hover .char5,
.letter:hover .char6 {
  background: #ff54a1;
  transform: skewY(0deg);
  filter: blur(0);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.letter:hover {
  transform: perspective(1000px) rotateX(0deg);
}
